h2 {
    font-size: 2rem;
    margin: 1rem 0;
}

.friend {
    background: lightgrey;
    margin: 1rem;
    padding: 1rem;
    width: 15rem;
}

.friend > p {
    padding: 0.5rem 0;
}

.friend > .name {
    /* display: inline-block; */
}

.friend > .rank {
    /* display: inline-block; */
    color: rgba(0, 0, 0, 0.6);
    float: right;
    padding: 0;
}

.friend-buttons {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0 0.25rem;
}

.friend-buttons > button {
    opacity: 0;
    transition: opacity 0.35s;
    transition-timing-function: ease;
    -webkit-transition: opacity 0.35s;
}

.friend.active > .friend-buttons > button {
    opacity: 1;
}

.friend-form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 25vw;
}
.friend-form > label {
    margin: 0.25rem 0;
}
.friend-form > input {
    margin: 0.5rem 0;
}

.friends-list {
    display: flex;
    flex-wrap: wrap;
}