h2 {
    font-size: 2rem;
    margin: 1rem 0;
}

.friend {
    background: lightgrey;
    margin: 1rem;
    padding: 1rem;
    width: 15rem;
}

.friend > p {
    padding: 0.5rem 0;
}

.friend > .name {
    /* display: inline-block; */
}

.friend > .rank {
    /* display: inline-block; */
    color: rgba(0, 0, 0, 0.6);
    float: right;
    padding: 0;
}

.friend-buttons {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0 0.25rem;
}

.friend-buttons > button {
    opacity: 0;
    transition: opacity 0.35s;
    transition-timing-function: ease;
    -webkit-transition: opacity 0.35s;
}

.friend.active > .friend-buttons > button {
    opacity: 1;
}

.friend-form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 25vw;
}
.friend-form > label {
    margin: 0.25rem 0;
}
.friend-form > input {
    margin: 0.5rem 0;
}

.friends-list {
    display: flex;
    flex-wrap: wrap;
}

.friend-modal {
    background: #fafafa;
    border-radius: 5px;
    min-width: 24rem;
    max-width: 30rem;
}

.friend-modal button {
    background: rgba(0, 0, 0, 0.1);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.friend-modal button:hover {
    background: rgba(0, 0, 0, 0.2);
}

.friend-modal > footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.friend-modal > header {
    background: #eee;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1rem 1.5rem 0.8rem;
    /* margin-bottom: 1rem; */
}

.friend-modal > header > h3 {
    font-family: sans-serif;
    font-size: 1.25rem;
    margin: 0.5rem
}

.friend-modal > p {
    padding: 2rem;
}