.friend-modal {
    background: #fafafa;
    border-radius: 5px;
    min-width: 24rem;
    max-width: 30rem;
}

.friend-modal button {
    background: rgba(0, 0, 0, 0.1);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.friend-modal button:hover {
    background: rgba(0, 0, 0, 0.2);
}

.friend-modal > footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.friend-modal > header {
    background: #eee;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1rem 1.5rem 0.8rem;
}

.friend-modal > header > h3 {
    font-family: sans-serif;
    font-size: 1.25rem;
    margin: 0.5rem
}

.friend-modal > p {
    padding: 2rem;
}


/* Transition stuff */
.modal--animated {
    opacity: 0.3;
    transform: scale(1.1) translateY(-10px);
    -webkit-transform: scale(1.1) translateY(-10px);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
  
.modal--animated.has-entered {
    opacity: 1;
    transform: scale(1) translateY(0);
    -webkit-transform: scale(1) translateY(0);
}
  
.underlay {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
  
.underlay.has-entered {
    background-color: rgba(0, 0, 0, 0.5);
}